<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map-canvas, #map_canvas {
        height: 100%;
      }

      @media print {
        html, body {
          height: auto;
        }

        #map-canvas, #map_canvas {
          height: 650px;
        }
      }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>

var routePoints = [];
$(function() {
  $.getJSON('/points.json', function(data) { initialize(data); });
});

function initialize(data) {
  $.each(data, function(key, val) {
    routePoints.push(new google.maps.LatLng(val.point.latitude, val.point.longitude));
  });

  var myLatLng = new google.maps.LatLng(-18.521283, 27.773438);
  var mapOptions = {
    zoom: 5,
    center: myLatLng,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };
  
  google.maps.visualRefresh = true;

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var flightPath = new google.maps.Polyline({
    path: routePoints,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  flightPath.setMap(map);
}

    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
